header {
  background: white;
}

.main-content {
  background: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 600px;
  padding-left: 25px;
}

.side-panel {
  background-color: #00272B;
  width: 50px;
  min-height: 600px;
}

@media (max-width: 768px) {
    .main-content {
        min-height: 600px;
    }

    .side-panel {
        min-height: 600px;
    }
}

.side-panel ul {
  padding-left: 0px;
  position: sticky;
  top: 90px;
  z-index: 999;
}

.side-panel ul li {
  list-style-type: none;
  font-size: 14px;
  color: #fff;
  width: 100%;
  padding: 10px;
}

.side-panel ul li a {
  text-decoration: none;
  color: #fff;
}


.icons-ref-size {
  width: 70%;
  height: 70%;
}

.item-display {
  display: inline-block;
  /* background-color: #00272B; */
  min-height: 800px;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

div.navbar-brand-2 {
  width: 99%;
  border: none;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  transform: skewX(-18deg);
  -moz-transform: skewX(-18deg);
  -ms-transform: skewX(-18deg);
  -webkit-transform: skewX(-18deg);
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 75%;
  background: linear-gradient(
    to right,
    #f84600 0%,
    #f84600 calc(50% - 475px),
    #23418b calc(50% - 475px),
    #23418b 100%
  );
}

div.navbar-brand-top {
  width: 100%;
  border: none;
  background: #00272B;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 15px;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.menuIcon {
  color: var(--neutral-icon-inverted, #fff);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Font Awesome 6 Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  width: 20px;
  line-height: 24px;
}

.side-panel {
  text-align: center;
}

.navbar-bottom {
  width: 100%;
  border: none;
  color: white;
  background: #00272B !important;
  padding: 48px 32px 32px 32px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.header-right {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-name {
  font-size: 100%;
  color: #929daf;
  cursor: pointer;
}

.activeNavLink {
    color: #4CAF50; 
  }
  