a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

div.navbar-brand-2 {
    width: 99%;
    border: none;
    text-transform: uppercase;
    color: #FFF;
    text-align: center;
    transform: skewX(-18deg);
    -moz-transform: skewX(-18deg);
    -ms-transform: skewX(-18deg);
    -webkit-transform: skewX(-18deg);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 75%;
    background: linear-gradient(to right, #f84600 0%,#f84600 calc(50% - 475px),#23418b calc(50% - 475px),#23418b 100%);
}

div.navbar-brand-top {
    width: 100%;
    border: none;
    background: #000080;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 15px;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.logo-ref-size {
    width: 5%;
    height: auto;
    max-height: 150px;
}

.logo-ref-pos {
    left: 10px;
}

.sgds-icon {
    font-family: sgds-icons !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 50px;
}

.lion-icon-size {
    width: 18px;
    height: 18px;
}
